<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='/../assets/css/scroll.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='/../assets/css/forms.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='/../assets/css/header.css')}}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>KTÜ Etkinlik Sistemi</title>
</head>
<body>
    <!-- wrapper start -->
    <div class="wrapper">
      <!-- header menu start -->
      {% include "bar.html" %}
      <!-- sidebar end -->
      <!-- main container start -->
      <div class="main-container">
        <main class="container">
        <!-- Sayfa Başlığı -->
        <div class="formheader">
            <h1>Bize Ulaşın</h1>
        </div>
        <!-- Profil güncelleme Formu -->
        <div class="formbody">
            <form action="/bizeulasin" method="POST">
                    <div class="formitem">
                        <label for="">Okul Numarası</label>
                        <input type="text" class="form-control" name="student_id" value="{{session['student_id']}}" disabled>
                    </div>
                    <div class="formitem">
                        <label for="">Ad Soyad</label>
                        <input type="text" class="form-control" name="name_surname" value="{{session['name']}} {{session['surname']}}" disabled>
                    </div>
                    <div class="formitem">
                        <label for="">Bölüm</label>
                        <input type="text" class="form-control" name="major" value="{{session['major']}}" disabled>
                    </div>
                    <div class="formitem">
                        <label for="">E-posta</label>
                        <input type="email" class="form-control" name="email" value="{{session['email']}}" disabled>
                    </div>
                    <div class="formitem">
                        <label for="">Telefon Numarası</label>
                        <input type="number" class="form-control" name="phone_number" value="{{session['phone_number']}}" disabled>
                    </div>
                    <div class="formitem">
                    <label>İletişime Geçmek İstediğiniz Bölüm</label>
                    <select data-placeholder="-- Seçim Yapınız --" name="department">
                        <option disabled selected value="none">--Seçim Yapın--</option>
                        <option value="Bilgisayar Mühendisliği">Bilgisayar Mühendisliği</option>
                        <option value="Elektrik Elektronik Mühendisliği">Elektrik Elektronik Mühendisliği</option>
                        <option value="Endüstri Mühendisliği">Endüstri Mühendisliği</option>
                        <option value="Makine Mühendisliği">Makine Mühendisliği</option>
                        <option value="Harita Mühendisliği">Harita Mühendisliği</option>
                        <option value="İnşaat Mühendisliği">İnşaat Mühendisliği</option>
                        <option value="Maden Mühendisliği">Maden Mühendisliği</option>
                        <option value="Makine Mühendisliği">Makine Mühendisliği</option>
                        <option value="Metalurji ve Malzeme Mühendisliği">Metalurji ve Malzeme Mühendisliği</option>
                        <option value="Yazılım Mühendisliği">Yazılım Mühendisliği</option>
                        <option value="Uluslararası İlişkiler">Uluslararası İlişkiler</option>
                        <option value="Kamu Yönetimi">Kamu Yönetimi</option>
                    </select>
                    </div>
                    <div class="formitem">
                        <label for="">Konu Başlığı</label>
                        <input type="text" class="form-control" name="topic">
                    </div>
                    <div class="formitem">
                        <label for="">Mesajınız</label>
                        <textarea name="message" id="" cols="30" rows="10"></textarea>
                    </div>
                <div class="btn">
                    <button type="submit">Gönder</button>
                  </div>
            </form>
        </div>
    </main>
<br>
      </div>
      <!-- main container end -->
      <!-- BURADAKİ FOOTER DÜZENLENECEK!
      {% include "footer.html" %} -->
    
    </div>
    
    <!-- wrapper end -->

    <script type="text/javascript">
      $(document).ready(function(){
        $(".sidebar-btn").click(function(){
          $(".wrapper").toggleClass("collapse");
        });
        $('.menu-btn').click(function(){
                $(this).next('.sub-menu').slideToggle();
                $(this).find('.drop-down').toggleClass('rotate');
        });
      });
    </script>
        <script>
      $(document).ready(function () {
          $('#example').DataTable();
      });
    </script>
    <script>
        $(".chosen-select").chosen({
        no_results_text: "Oops, nothing found!"
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>