       <div class="header">
        <div class="header-menu">
          <div class="title">
            <!-- KTÜ <span>Etkinlik</span> -->
            <a href="index.html"><img src="{{ url_for('static',filename='/../assets/images/logo.png')}}" alt="logo" class="logo"></a>
          </div>
          <div class="sidebar-btn">
            <i class="fas fa-bars"></i>
          </div>
          <div class="search-container">
            <form action="#">
              <input type="text" placeholder="Ara..." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
              <button type="button" onclick="location.href='/cikisyap'"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </form>
          </div>
        </div>
      </div>