<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='/../assets/css/sertifika_style.css')}}">
    
</head>
<body>
    
    
    <button class="p_button" onclick="window.print()">SERTİFİKAYI YAZDIR</button>
    <button class="p_button" onclick="history.back()">GERİ DÖN</button>
    <br><br><br>
    
    <div id="container" >
        <img src="{{ url_for('static',filename='/../assets/images/cert.png')}}" alt=" sertifika template görseli yüklenemedi" >
        
        <p id="depatment_name">KATILIM SERTİFİKASI</p>

        <div id="name_surname">

            <p >{{data.name}} {{data.surname}}</p>
        </div>

        <div id="text"> <p>{{data.event_time}} tarihinde {{data.event_company}} tarafından düzenlenen 
            {{data.event_name}} etkinliğine katılarak bu sertifikayı almaya hak kazanmıştır. </p>
        </div>



        <p id="sol_alt_yazı">SERTİFİKAYI VEREN BÖLÜM</p> <br>
       
        <div id="left_container">
        
        <table>
            {% for bolum in bolumler %}
            
                <tr>
                    <td>
                        {{bolum}} 
                    </td>
                    
                    
                </tr>

                {% endfor %}
        </table>
        </div>

        <p id="sag_alt_yazı">KONUŞMACILAR </p>

        <div id="right_container">
            <table >
                {% for speaker in sertifika_speakers %}
                
                    <tr>
                        <td align="right">
                            {{speaker}} 
                        </td>
                    </tr>
                    {% endfor %}
            </table>       
            </div>
        <div id="photo_container">
            <img id="company_icon" src="{{ url_for('static',filename='/../assets/images/uploads/' + data.company_photo)}}" alt=" sertifika template görseli yüklenemedi" >    
        </div>
    </div> 
</body>
</html>